.my-acc-content {
  padding: 60px 0;
}

.acc-list {
  border: 2px solid $white;
  border-radius: 16px;
  padding: 21px 0 30px;
}

.acc-item {
  padding: 0 15px;
}

.acc-item:last-of-type > .acc-link {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.acc-link {
  display: flex;
  align-items: center;
  font-size: 17px;
  padding: 0 5px 6px;
  margin-bottom: 6px;
  color: $white;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  transition: all 0.3s ease-in-out;
}

.acc-link i {
  width: 30px;
  font-size: 15px;
  @include flexCenter;
}

.acc-link:hover,
.acc-link:focus {
  text-decoration: none;
  color: $text;
}

.acc-link.active {
  color: $text;
}

.acc-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;
  margin-top: 21px;
}

@media (max-width: 991px) {
  .acc-head {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.acc-title {
  font-size: 20px;
  color: var(--sec-color);
  font-weight: 700;
  margin: 0;
}

.acc-form {
  width: 100%;
  max-width: 466px;
}

.acc-form .submit-btn {
  width: 252px;
  margin: 50px 0 0;
}

@media (max-width: 991px) {
  .acc-form .submit-btn {
    margin: 40px 0 0;
  }
}

.edit-pass-link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: var(--main-color);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.edit-pass-link i {
  margin: 0 7px;
  font-size: 14px;
}

.edit-pass-link:hover,
.edit-pass-link:focus {
  color: var(--sec-color);
  text-decoration: none;
}
.edit-pass-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: $white;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.edit-pass-link i {
  margin: 0 7px;
  font-size: 14px;
}

.edit-pass-link:hover,
.edit-pass-link:focus {
  color: var(--sec-color);
  text-decoration: none;
}
.submit-btn {
  width: 100%;
  height: 50px;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  @include flexCenter;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover,
.submit-btn:focus {
  text-decoration: none;
  background-color: var(--sec-color);
  color: #fff;
}
.ticket-header{
  padding: 20px 30px;
  .booking-top-head{
    margin: 0;
  }
}